
body {
	background-color:black;
}

.main {
	background-color:white;
	margin-top: 40px;

	padding-left:100px;
	min-width:1200px;
	height:500px;
}


.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width:659px;
	height:494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display:none;
}

.ryu-ready {
	background-image:url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image:url('../images/ryu-standing-still.png');
	display:block;
}

.ryu-cool {
	background-image:url('../images/ryu-cool.gif');
}

.ryu-throwing {
	background-image:url(../images/ryu-throwing-hadouken.png);
	display:none;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat; no-repeat;
}

.hadouken {
	background-image:url(../images/hadouken.gif);
	width:156px;
	height:90px;
	display:none;
	position:absolute;
	top:280px;
	left:600px;
	float:left;
}
	
h1 {
	font-familiy:helvetica;
	font-size:50px;
	color:white;
	text-align:center;
	padding-top: 10px;
}

h3 {
	color:orange;
	font-size: 20px;
	text-align:center;
	padding-top:10px;
}

h2 {
	display:inline-block;
	position:absolute;
	right:100px;
	bottom: 130px;
	font-size: 20px;
}
